.consultas__data {
    display: flex;
    align-items: center;
    height: 46px;
    font-weight: 700;
}

.consultas ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulta__card {
    background: var(--cor-branca);
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 160px;
    padding: 16px 16px 0;
    border-radius: 8px;
    margin-bottom: 16px;
}

.consulta__card-titulo {
    display: flex;
    justify-content: space-between;
}

.consulta__card-paciente {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.consulta__card-paciente > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}

.consulta__card-paciente > div {
    display: flex;
    flex-direction: column;
}

.consulta__card-titulo .consulta__card-chat {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-image: url(../assets/chat1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.consulta__card-paciente strong {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

.consulta__card-paciente span {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--cor-cinza);
}

.consulta__card-paciente span > span { /* Bloco para adicionar a imagem da câmera */
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.consulta__card-paciente span > span.camera {
    background-image: url(../assets/Camera.svg);
}

.consulta__card-paciente span > span.mapa {
    background-image: url(../assets/pin.svg);
}

.consulta__card-conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    width: 100%;
    height: 82px;
    border-top: 1px solid #46464619;
}

.consulta__card-conteudo p{
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 500;
}

.consulta__card-acoes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.consulta__card-acoes button {
    min-width: 140px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 14px;
    color: var(--cor-branca);
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.consulta__card-acoes button :only-of-type {
    margin: 0;
}

.consulta__card-acoes .btn-primario {
    background-color: #4894FF;
}

.consulta__card-acoes .btn-secundario {
    background-color: #FFB050;
}

.consulta__card-acoes .btn-terciario {
    color: var(--cor-preta);
    background-color: var(--cor-branca);
    border: 1px solid #ECECEC;
}

/* .paciente-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.paciente-foto {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: 0.75rem 1rem 1rem 1rem;
}

.paciente-nome-imagem {
    margin-top: 1rem;
}

.paciente-nome {
    font-size: 14px;
    font-weight: 700;
    color: var(--cor-preta);
}

.paciente-local-imagem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.33rem;
    padding-top: 0.29rem;
}

.paciente-local {
    font-size: 12px;
    color: var(--cor-cinza);
}

.arredondamento {
    border-radius: 50%;
    padding: 0.58rem; 
    background-color: #f6f6f6;
    margin: 1rem 0 0 5.68rem;
}

.linha {
    background-color: var(--cor-preta);
    opacity: 0.1;
    height: 1px;
    border: none;
    margin: 0;
}

.paciente-horario {
    font-size: 12px;
    font-weight: 500;
} */