section.home {
    display: flex;
    align-items: center;
    height: 110px;
}

.home>img {
    border-radius: 50%;
    width: 60px;      
    height: 60px;          
    margin-right: 16px; 
}
  
.home .home__info strong {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cor-preta);
    margin-bottom: 0.5rem;
}
  
.home .home__info p {
    font-size: 14px;
    color: var(--cor-cinza);
    font-weight: 400;
    margin-top: 8px;
}